/src/modules/ML/3.Unsupervised_learning/Unsupervised_clustering/les7_demo_lab/pickled_simpson.pkl
src/modules/ML/3.Unsupervised_learning/Unsupervised_clustering/les7_demo_lab/pickled_simpson.pkl
/src/modules/ML/4.Recommender_engines/labo_solution/Fashion/
/src/modules/ML/4.Recommender_engines/labo_solution/Movies/
src/modules/ML/3.Unsupervised_learning/Unsupervised_clustering/les7_demo_lab/pickled_simpson.pkl
src/modules/ML/3.Unsupervised_learning/Unsupervised_dimensiereductie/les8_demo_lab/pickled_yale.pkl